@import "tailwindcss";

:root {
  --color-bg: #0a0a0a;
  --color-text: #d5d5d7;
  --color-gold: #fbbf24;
  --color-muted: #a1a1aa;
  --color-border: #27272a;
  --color-card: #131313;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}